body {
    font-family: "Montserrat", "sans-serif";
    font-size: 16px;
    background-color: #fff;
    color: #2a2b2e;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #fff;
    padding: 25px 100px;
}

main {
    height: 100%;
    padding-right: 25px;
}


.tick line {
    visibility: hidden;
}

.axis text {
    font-family: "Roboto";
    cursor: default;
}

.viz1-container,
.viz3-container,
.viz4-container,
.viz5-container,
.viz6-container,
.viz7-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viz5-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

#categoryDropdown {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    color: #000000;
    border-color: #000000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}

.title,
.axis-text {
    transform-origin: center;
    transform-box: fill-box;
    text-anchor: middle;
}

.legend-element {
    display: center;
    padding: 20px;
}

:root {
    --blue: #43a1d5;
    --gold: #d5b048;
    --navy_blue: #173e69;

    --light_blue: #aeddf8;
    --light_gold: #f3dfa5;
    --light_navy_blue: #3772b4;

    --background: #ffffff;
    --onBackground: #000000;
}

.welcome-title {
    color: var(--navy_blue);
    font-family: "Roboto Slab";
    margin-top: 74vh;
    font-size: 50px;
}

.page-container {
    padding: 2rem 2rem 0 2rem;
}

.markdown-title {
    font-family: "Roboto Slab";
    font-size: 27px;
    color: var(--navy_blue);
}

.text {
    font-family: "Roboto Slab", "serif";
    color: #595959;
    font-size: 15px;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Roboto Slab", "serif";
    font-size: 12px;
    z-index: 9999;
}

#tooltip-title {
    font-family: "Roboto Slab", "serif";
    font-weight: normal;
    font-size: 16px;
}

.tooltip-value {
    font-weight: normal;
}

.header {
    background-image: linear-gradient(to bottom, transparent 30%, white),
        url("./images/im2.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
    min-height: 90%;
}
